 {{#section 'scripts'}}
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

    <link rel="stylesheet" href="{{ROOT}}include/css/amp-custom.css" />
{{/section}}

<main>
	<article>
		<form method="POST" action-xhr="{{ROOT}}items/add/" class="add">
	      <input name="title" type="text" placeholder="Title" required>
	      <select name="category">
	      {{#each categories}}
	      	<option value="{{this.categoryId}}">{{this.title}} ({{this.total}})</option>
	      {{/each}}
	      </select>
	      <textarea name="text[intro]" cols="30" rows="4" placeholder="Intro" class="wide" required></textarea>
	      <hr>
	      <textarea name="text[part1]" cols="10" rows="4" placeholder="Part1" class="fleft"></textarea>
	      <textarea name="text[part2]" cols="20" rows="4" placeholder="Part2" class="fleft"></textarea>
	      <hr style="clear: both;">
	      <textarea name="text[end]" cols="30" rows="4" placeholder="End" class="wide" required></textarea>
	      <input name="media[intro]" type="text" placeholder="Image" required>
	      <input name="media[video]" type="text" placeholder="Video">
	      <input name="media[gallery]" type="text" placeholder="Gallery (;)">
	      <input type="submit" value="ADD" >
	      
	      <div submit-success>
	      	Thank you for the post !
	      </div>
	      <div submit-error>
	      	Error ocure during form submmition !
	      </div>
	    </form>
	</article>
</main>