{{#section 'scripts'}}
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>

    {{# if item.media.gallery }}
      <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    {{/if}}

    <link rel="stylesheet" href="{{ROOT}}include/css/amp-custom.css" />
{{/section}}

<main>
  <article>
     	<h1>{{item.title}}</h1>
      <p>{{{item.text.intro}}}</p>
      
        <figure>
           <amp-img src="{{ROOT}}images/{{category}}/sm/{{item.media.intro}}.jpg" srcset="{{ROOT}}images/{{category}}/{{item.media.intro}}.jpg 960w, {{ROOT}}images/{{category}}/m/{{item.media.intro}}.jpg 640w, {{ROOT}}images/{{category}}/sm/{{item.media.intro}}.jpg 320w" width="960" height="639" layout="responsive" alt="The cat 1">
           </amp-img>
		      <figcaption>Fig.1 - The cat watch.</figcaption>
		    </figure>

        {{# if item.text.part1 }} {{{item.text.part1}}} {{/if}}

        {{# if item.media.video }}
        <amp-youtube data-videoid="{{item.media.video}}" layout="responsive" width="480" height="270"></amp-youtube>
        {{ else }}
        <amp-pixel src="https://foo.com/pixel?RANDOM"></amp-pixel>
        {{/if}}

        {{# if item.text.part2 }} {{{item.text.part2}}} {{/if}}
        
        {{# if item.media.gallery }} 
          <amp-carousel width="480" height="320" layout="responsive" type="slides">
          {{#each item.media.gallery }}
            <amp-img src="{{../ROOT}}images/{{../category}}/sm/{{this}}.jpg" srcset="{{../ROOT}}images/{{../category}}/{{this}}.jpg 960w, {{../ROOT}}images/{{../category}}/m/{{this}}.jpg 640w, {{../ROOT}}images/{{../category}}/sm/{{this}}.jpg 320w" width="480" height="320" layout="responsive" alt="Bird">
            </amp-img>
          {{/each}}
          </amp-carousel>
        {{ else }}
          <amp-pixel src="https://foo.com/pixel?RANDOM"></amp-pixel>
        {{/if}}

        {{{item.text.end}}}
	</article>
</main>
